<p id="alert"><%= alert %></p>

    <div class="jumbotron">
        <!-- <div class="column-left">
        <div class = "jumbo-text"> Your Survey Service Destination
            <div class = "jumbo-sub-text"> We have been making awesome surveys for you since 2016. <br> Sign up now and we'll help you create your first survey! </div>
            </div>
        </div> -->
        <div class="login-container">
            <div class="title-container">
                <h1 class="login-title"> Login</h1>
            </div>
                <div class="login-form">




        <%= form_tag(login_path) do %>
      <p><%= label_tag :email %>
      <%= email_field_tag :email %></p>
        <br>
      <p><%= label_tag :password %>
      <%= password_field_tag :password %></p>

  <div class="login-submit"> <%= submit_tag "Log in" %> </div>
<% end %>
</div>
</div>
