
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
    <%= f.hidden_field :author_id, value: session[:user_id] %>
  </div>

  <div class="field">
    <%= f.label :categories %>
    <%= f.select :categories, Survey.pluck(:categories), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :questions do |ff| %>
    <div class="question" id="newQuestion">
      	<div class="field">
          <%= ff.select(:taker_input, options_for_select([['Yes or No', "1"], ['Short Answer', "2"], ['Long Answer', "3"]])) %>
      		<%= ff.text_field :question_text, placeholder: "Question text" %>
      		<%= ff.text_field :description, placeholder: "short description for you only" %>
      		<%= ff.check_box :_destroy %><span>Delete</span>
      	</div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
