
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
    <%= f.hidden_field :author_id, value: session[:user_id] %>
  </div>

  <div class="field">
    <p>Survey: <%=@survey.name%></p>
  </div>

  <div class="field">
    <p>Description: <%=@survey.description%></p>
  </div>
  <%= f.hidden_field :taker_id, :value => @taker.id %>
  <%= f.fields_for :questions do |ff| %>
    <div class="question" id="newQuestion">
      	<div class="field">
          <% question = ff.object %>
          <p><%=question.question_text %></p>
          <p><%=question.description%></p>
          <%= ff.fields_for :answers do |fff|%>
            <% if question.taker_input == "A" %>
              <%= fff.radio_button :answer, "Yes", :checked => true %><br>
              <%= label :answers_yes, 'Yes' %><br>
              <%= fff.radio_button :answer, "No" %><br>
              <%= label :answers_no, 'No' %><br>
            <% elsif question.taker_input == "B" %>
              <%= fff.text_field :answer %>
            <% else %>
              <%= fff.text_area :answer %>
            <% end %>
          <% end %>
      	</div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
