<<<<<<< HEAD
<h1> Welcome <%= @user.name.capitalize %>!</h1>
=======
<div class="survey-form">

<h1> Welcome <%=@user.name%>!</h1>
>>>>>>> 7cebc71d97fb018099ed1b37df20729ca8896d49


<h1>New Survey</h1>

<%= render 'form' %>

<%= link_to 'Back', surveys_path %>
<<<<<<< HEAD
=======

<%= link_to 'Logout', logout_path, method: :delete %>

</div>
>>>>>>> 7cebc71d97fb018099ed1b37df20729ca8896d49
