

<p>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @survey.categories %>
</p>
<p>
<% @survey.questions.each_with_index do |x, i|%>
  <p>Question #<%=i+1%></p>
  <p><%= x.question_text%></p>
  <p><%= x.description%></p>
<%end%>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
