<!DOCTYPE html>
<html>
<head>
  <title>IO </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>


        <header>
            <div class="header-container">
                  <div class="header-logo"><%= link_to "IO", new_author_path %></div>
                      <div class="header-title"> Inquiring Oppossum</div>
                  <div>
                    <% if session[:user_id].nil? %>
                      <span class="login-button header-nav-right"><a href= > <%= link_to "Login", login_path %> </a>
                    <% else %>
                      <span class="login-button header-nav-right"><a href= > <%= link_to 'Logout', logout_path, method: :delete %> </a>
                      <span class="account-button header-nav-right"><a href= > <%= link_to 'Account', new_survey_path %> </a>
                    <% end %>
                    </span>
              </div>
        </header>


<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
