<!DOCTYPE html>
<html>
<head>
  <title>SurveyMonkey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

        <header>
            <div class="header-container">
                  <div class="header-logo"><%= link_to "IO", new_author_path %></div>
                      <div class="header-title"> Inquiring Oppossum</div>
                  <div>
                      <span class="login-button header-nav-right"><a href= > <%= link_to "Login", login_path %> </a>
                    </span>
              </div>
        </header>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
